.home {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;    
}

.home h1 {
    position: absolute;
    color: var(--text-color);
    font-size: 50px;
    bottom: 25vh;
}