/* ================= Main CSS ==================== */

.navBut {     
    width: 50px;
    height: 50px;
    line-height: 25px;
    font-size: 30PX;
    font-weight: bold;
    border-radius: 50%;
    border: 3px solid #707070;
    background-color: #FFFFFF;
    outline: none;
    color: #707070;
}

.algoBut {     
    width: 50px;
    height: 50px;
    line-height: 25px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    border: 3px solid #707070;
    background-color: #FFFFFF;
    outline: none;
    color: #707070;
}

.inSetBut {
    width: 50px;
    height: 50px;
    line-height: 25px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 50%;
    border: 3px solid #707070;
    background-color: #FFFFFF;
    outline: none;
    color: #707070;    
}

.vertLine {
    width: 25px;
    height: 40px;
    border-right: 3px solid #707070;
}

/* ================= Button Toggle CSS ==================== */

.hiddenLeft {
    display: none;
}

.showLeft {
    display: block;
}

.hiddenRight {
    display: none;
}

.showRight {
    display: block;
}

.hiddenIn {
    display: none;
}

.showIn {
    display: block;
}

/* ================= Left Right Div CSS ==================== */

.left {
    display: flex;
    flex-direction: column;
    float: left;    
    margin: 10px;
}

.right {
    float: right;    
    margin: 10px;
}

/* ================= Insert Hover CSS ==================== */

.insertTitle {
    display: none;
} 

.insert:hover + .insertTitle {
    display: inline-block;
    margin-left: 5px;
    font-size: 23px;
    font-weight: bold;
    color: #707070;
}

.insert:hover {
    display: inline-block;    
}

/* ================= Selection Hover CSS ==================== */

.selectionTitle {
    display: none;
}

.selection:hover + .selectionTitle {
    display: inline-block;
    margin-left: 5px;
    font-size: 23px;
    font-weight: bold;
    color: #707070;
}

.selection:hover {
    display: inline-block;    
}

/* ================= Bubble Hover CSS ==================== */

.bubbleTitle {
    display: none;
} 

.bubble:hover + .bubbleTitle {
    display: inline-block;
    margin-left: 5px;
    font-size: 23px;
    font-weight: bold;
    color: #707070;
}

.bubble:hover {
    display: inline-block;    
}

/* ================= Quick Hover CSS ==================== */

.quickTitle {
    display: none;
} 

.quick:hover + .quickTitle {
    display: inline-block;
    margin-left: 5px;
    font-size: 23px;
    font-weight: bold;
    color: #707070;
}

.quick:hover {
    display: inline-block;    
}

/* ================= Merge Hover CSS ==================== */

.mergeTitle {
    display: none;
} 

.merge:hover + .mergeTitle {
    display: inline-block;
    margin-left: 5px;
    font-size: 23px;
    font-weight: bold;
    color: #707070;
}

.merge:hover {
    display: inline-block;    
}

/* ================= Heap Hover CSS ==================== */

.heapTitle {
    display: none;
} 

.heap:hover + .heapTitle {
    display: inline-block;
    margin-left: 5px;
    font-size: 23px;
    font-weight: bold;
    color: #707070;
}

.heap:hover {
    display: inline-block;    
}

/* ================= Radix Hover CSS ==================== */

.radixTitle {
    display: none;
}

.radix:hover + .radixTitle {
    display: inline-block;
    margin-left: 5px;
    font-size: 23px;
    font-weight: bold;
    color: #707070;
}

.radix:hover {
    display: inline-block;    
}

/* ================= Bucket Hover CSS ==================== */

.bucketTitle {
    display: none;
}

.bucket:hover + .bucketTitle {
    display: inline-block;
    margin-left: 5px;
    font-size: 23px;
    font-weight: bold;
    color: #707070;
}

.bucket:hover {
    display: inline-block;    
}

/* ================= Input Box CSS ==================== */

.inputContainer {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 350px;
    border: 3px solid #707070;
    color: #707070;
    z-index: 999;
}

.inputTitle {
    font-size: 26px;
    font-weight: bold;    
    margin-bottom: 5px;
    margin-left: 5px;
}

.inputSubTitle {
    font-size: 20px;
    font-weight: normal;
}

.numOfInContainer {
    margin-top: 5px;
    margin-bottom: 25px;
}

.inContainer {
    margin-bottom: 25px;
}

.speedContainer {
    margin-bottom: 5px;
}

.numOfInput::-webkit-inner-spin-button, 
.numOfInput::-webkit-outer-spin-button {  
   opacity: 1;
   background-color: #FFFFFF;
}

.numOfInput {
    width: 120px;
    height: 28px;
    font-size: 18px;
    padding-left: 10px;
    border-radius: 20px;
    margin-left: 5px;  
}

.inputArea {
    display: block;
    height: 80px;
    width: 340px;
    border-radius: 20px;    
    padding: 0 10px;
    margin: 0 auto;
    margin-bottom: 5px;
}

.inputBut {
    width: 120px;
    margin: 0 5px;
    background-color: #FFFFFF;
    border: 3px solid #707070;
    border-radius: 10px;
    outline: none;
}

.setBut {
    width: 70px;
    margin: 0 5px;
    background-color: #FFFFFF;
    border: 3px solid #707070;
    border-radius: 10px;
    outline: none;
}

.butContainer {
    margin: 0 5px;
}

.horLine {
    display: inline-block;
    width: 8.5px;
    height: 15px;
    border-bottom: 3px solid #707070;
}

.speedBut {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #FFFFFF;
    border: 3px solid #707070;
    border-radius: 50%;
    outline: none;
}

/* ================= Range Slider CSS ==================== */

.sliderContainer{
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: 30px;
}
input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: -100px;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.slider-track{
    width: 335px;
    height: 5px;
    position: absolute;
    margin: 0 5px;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}
input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}
input[type="range"]::-ms-track{
    appearance: none;
    height: 5px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #707070;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}
input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #707070;
    pointer-events: auto;
}
input[type="range"]::-ms-thumb{
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #707070;
    pointer-events: auto;
}
input[type="range"]:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 3px solid #707070;
}

.sliderValueLeft, .sliderValueRight{
    position:relative;
    width:100%;
}

.valueLeft, .valueRight {
    position: absolute;
    height:45px;
    width:45px;
    background: red;
    left:50%;
    top: -77px;
    transform: rotate(227deg);
    border:solid 3px #fff;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.valLeft, .valRight {
    transform: rotate(-227deg) translate(15%, -25%);
    text-align: center;
}